{% extends 'main.html' %}

{% block title %}
    无名论坛 - 我的动态
{% endblock %}

{% block content %}
    <div class="editMomentDialog dialogDefault">
        <div class="closeEditMomentDialog">
            <div class="closeDialog"></div>
        </div>
        <h3 class="createTitle">编辑动态</h3>
        <form action="/editMoment/" method='post' class="editFrom">
            <div style="padding: 20px">
                <span class="createLabel">动态内容</span>
                <div class="textfield">
                    {{ momentForm.content }}
                </div>
                <span class="createLabel">动态标签</span>
                <div class="textfield">
                    {{ momentForm.labels }}
                </div>
                <input type="text" name="beforeLabel" style="display: none">
                <input type="text" name="afterLabel" style="display: none">
                {{ momentForm.hidden_tag() }}
                <div class="submitMoment">
                    <button class="btnDefault"
                            type="button"
                            style="background-color:#8f9298;border-color: #8f9298;margin-right: 20px;"
                            onclick="document.getElementsByClassName('closeDialog')[0].click()">
                        取消
                    </button>
                    {{ momentForm.submit }}
                </div>
            </div>
        </form>
    </div>
    <div class="contentLeft">
        <div class="title">
            <span>我的动态({{ moment | length }})</span>
        </div>
        {% if moment %}
            <ul class="momentList">
            {% for item in moment %}
                <li class="item">
                    <div class="userHead">
                        <div style="display: flex; align-items: center;">
                            <div class="momentAvatar">
                                {%
                                    set userAvatar =
                                        item['author']['avatarUrl']
                                        if item['author']['avatarUrl'] != ''
                                        else '../static/img/avatars/default.png'
                                %}
                                <img src="{{ userAvatar }}" alt="">
                            </div>
                            <div class="user">{{ item.author.name }}</div>
                        </div>
                        <div style="display: flex">
                            <button class="editMoment" tabindex="{{ item.id }}" style="margin-right: 10px;">编辑</button>
                            <form action="/delMoment/{{ item.id }}" method="post" class="delMomentForm">
                                <button class="delMoment" >删除</button>
                            </form>
                        </div>
                    </div>
                    <p class="contentValue">{{ item.content }}</p>
                    <div class="momentBottom">
                        <div class="labels">
                            {% for label in item.labels %}
                                <span>#{{ label['name'] }}</span>
                            {% endfor %}
                        </div>
                        <div class="time">发表于: {{ item.createTime }}</div>
                    </div>
                    <div class="addComment">
                        <form action="/addComment/{{ item.id }}"
                              method="post" class="commentForm">
                            <input type="text" name="path" value="/profile" style="display: none">
                            <label>
                                <input type="text"
                                       placeholder="说些什么吧..."
                                       class="addCommentInput"
                                       name="commentContent">
                            </label>
                            <button type="submit"
                                    class="btnDefault addCommentBtn">
                                发布
                            </button>
                        </form>
                    </div>
                    <div class="comments">
                        {% if item.commentCount > 0 %}
                            <ul class="commentList" style="display: none">
                                <div class="showCommentCount">
                                    {{ item.commentCount }}条评论
                                </div>
                                {% for comment in item.commentList %}
                                    <li class="commentItemBox">
                                        <div class="momentHeader">
                                            <div style="display:flex; align-items: center;">
                                                {%
                                                    set momentAvatar =
                                                        comment.author.avatarUrl
                                                        if comment.author.avatarUrl != ''
                                                        else '../static/img/avatars/default.png'
                                                %}
                                                <img src="{{ momentAvatar }}" alt=""
                                                     style="width: 24px;height: 24px;">
                                                {% if comment.commentId %}
                                                    <span style="margin-left: 9px;">
                                                        <span>{{ comment.author.name }}</span>
                                                        <span style="color: #8590a6;">回复</span>
                                                        {% for replyComment in item.commentList %}
                                                            {% if comment.commentId == replyComment.id %}
                                                                <span>{{ replyComment.author.name }}</span>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </span>
                                                {% else %}
                                                    <span style="margin-left: 9px;">{{ comment.author.name }}</span>
                                                {% endif %}
                                            </div>
                                            <div style="color: #848fa5; font-size: 12px">
                                                {{ comment.createTime }}
                                            </div>
                                        </div>
                                        <div class="commentContent">
                                            {{ comment.content }}
                                        </div>
                                        <div style="text-align: right">
                                            <div class="replyComment" style="text-align: right">
                                                <button class="replyCommentBtn">回复</button>
                                            </div>
                                        {% if session['userid'] == comment.author.id %}
                                            <form action="/delComment/{{ comment.id }}" method="post" class="delForm">
                                                <input type="text" name="path" value="/profile" style="display: none">
                                                <button class="delComment">删除</button>
                                            </form>
                                        {% endif %}
                                        </div>
                                        <form class="replyForm" method="post" action="/replyComment/{{ item.id }}/{{ comment.id }}">
                                                <input type="text" name="path" value="/profile" style="display: none">
                                                <label>
                                                    <input type="text"
                                                       class="replyCommentInput"
                                                       style="width: 590px;display: none"
                                                       name="content"
                                                       placeholder="回复 {{ comment.author.name }}：">
                                                </label>
                                                <button type="submit"
                                                        class="btnDefault replyCommentBtnSub"
                                                        style="display:none;">
                                                    发布
                                                </button>
                                            </form>
                                    </li>
                                {% endfor %}
                            </ul>
                            <button class="showComments" tabindex="{{ item.commentCount }}">查看评论({{ item.commentCount }})</button>
                        {% else %}
                            <span class="noneComment">暂无评论</span>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <div class="noneMoment">
                <h3>暂无动态，快去发表你的动态吧</h3>
                <button class="btnDefault"
                        onclick="document.getElementsByClassName('showDialog')[0].click()">
                    发表动态
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script>
        const cover = document.getElementsByClassName('cover')[0]
        const editMomentDialog = document.getElementsByClassName('editMomentDialog')[0]
        const closeEditMomentDialog = document.getElementsByClassName('closeEditMomentDialog')[0]
        const editMomentBtn = document.getElementsByClassName('editMoment')
        const formMomentContent = document.getElementsByClassName('formMomentContent')[0]
        const formMomentLabels = document.getElementsByClassName('formMomentLabels')[0]
        const submitBtn = document.getElementsByClassName('subEditMoment')[0]
        const beforeLabel = document.getElementsByName('beforeLabel')[0]
        const afterLabel = document.getElementsByName('afterLabel')[0]

        window.addEventListener('load', function () {
            const currentHeight = window.sessionStorage.getItem('currentHeight')
            window.scroll(0, parseInt(currentHeight))
        })
        let recordHeight = 0
        window.addEventListener('scroll', function (){
            currentHeight = this.scrollY
        })
        for (let i = 0; i < editMomentBtn.length; i++){
            editMomentBtn[i].addEventListener('click', function (){
                const currentIndex = this.tabIndex
                const momentList = {{ moment | tojson }};
                const currentMoment = (momentList.filter(item => currentIndex === item.id))[0]
                const content = currentMoment.content
                const labels = currentMoment.labels.map(item => item.name).join(' ')
                beforeLabel.value = labels
                formMomentContent.value = content
                formMomentLabels.value = labels
                document.getElementsByClassName('editFrom')[0].action += currentIndex
                editMomentDialog.style.display = 'block'
                cover.style.display = 'block'
                window.sessionStorage.setItem('currentHeight', recordHeight)
            })
        }
        submitBtn.addEventListener('click', function (e){
            afterLabel.value = formMomentLabels.value
        })
        closeEditMomentDialog.addEventListener('click', function (){
            editMomentDialog.style.display = 'none'
            cover.style.display = 'none'
        })

        const delMoment = document.getElementsByClassName('delMoment')
        for (let i = 0; i< delMoment.length; i++){
            delMoment[i].addEventListener('click', function (e){
                e.preventDefault()
                if(confirm("确定要删除该动态吗？删除将不能恢复！")){
                    window.sessionStorage.setItem('currentHeight', recordHeight)
                    document.getElementsByClassName('delMomentForm')[i].submit()
                }
            })
        }
    </script>
{% endblock %}